@use "components";
@use "./tokens/tokens";
@use "./layouts/layouts";

@use "../pages/Authorization";
@use "../pages/Registration";
@use "../pages/Error.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: tokens.$background-color;
}

.backdrop {
  background-color: tokens.$secondary-bg-color;
  border-radius: 25px;
}
